* {
  box-sizing: border-box;
}

html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

h1 {
  margin: 4px;
  font-size: 20px;
}

h3 {
  margin: 0;
  margin-top: 5px;
  font-size: 30px;
}

label {
  margin-top: 10px;
  margin-bottom: 10px;
}

button {
  background: rgb(42, 136, 56);
  color: white;
  border: none;
  border-radius: 5px;
  padding: 5px 15px 5px 15px;
  margin-bottom: 15px;
  cursor: pointer;
  box-shadow: 0 1px 6px rgba(0,0,0, .25);
}

button:hover {
  background: white;
  color: rgb(42, 136, 56);
  box-shadow: 0 6px 10px rgba(0,0,0, .7);
}

button:active {
  box-shadow: 0 2px 5px rgba(0,0,0, .9);
  transform: translateY(3px)
}

.submit-button {
  background: rgb(246, 132, 45);
  border: none;
  border-radius: 5px;
  padding: 5px 15px 5px 15px;
  margin-bottom: 5px;
  cursor: pointer;
  box-shadow: 0 1px 6px rgba(0,0,0, .25);
}

.submit-button:hover {
  background: rgb(42, 136, 56);
  color: white;
  box-shadow: 0 6px 10px rgba(0,0,0, .7);
}

.submit-button:active {
  box-shadow: 0 2px 5px rgba(0,0,0, .9);
  transform: translateY(3px)
}

.grid-container {
  display: grid;
  grid-template-rows: 170px 50px 90rem;
  height: 100%;
  width: 100%;
}

.top-bar {
  background: rgb(246, 132, 45);
  display: grid;
  width: 100%;
}

.welcome {
  display: flex;
  flex-direction: column;
}

.welcome-message {
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  margin-top: 0;
  margin-bottom: 5px;
  font-size: 50px;
}

.total-rooms-cost {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  margin-bottom: 10px;
  font-size: 20px;
}

.welcome-message-and-total-cost {
  display: flex;
  flex-direction: column;
  margin: 0;

}

.return-button {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 0;
}

.calendar {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  position:absolute;
  right: 5%;
  margin-top: 10px;
}

.calendar-entry {
  margin-bottom: 3px;
}

.room-details {
  text-align: center;
  margin-top: 5px;
  margin-bottom: 3px;
}

.center {
  background: rgba(42, 136, 56, 0.8);
  text-align: center;
  border-top: 2px solid white;;
}

.bottom-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: minmax(27%, 27%);
  grid-gap: 12px;
  padding: 20px;
  box-shadow: 0 1px 6px rgba(0,0,0, .35);
}

.grid-item {
  border: 1px  solid rgba(0,0,0, .05);
  box-shadow: 0 1px 6px rgba(0,0,0, .35);
  text-align: center;
  background: rgba(254,254,254, 0.9);
}

.grid-item:hover {
  box-shadow: 0 5px 15px 5px rgba(0,0,0, .9);
}

.hotel-image {
  max-height: 60%;
  width: 100%;
  object-fit: cover;
}

.booking-room-type {
  margin: 0;
  margin-top: 5px;
}

.booking-cost {
  margin-top: 15px;
}

.book-it-button {
  margin: 0;
}

#mainLoginHolder {
  width: 100%;
  height: 100%;
  background-image: linear-gradient(to left, rgb(222, 217, 217), rgba(246, 132, 45, .9));
  font-variant: small-caps;
  border-radius: 7px;
  box-shadow: 0px 0px 5px 2px black;
}

.login-text {
  font-size: 90px;
  text-shadow: 3px 2px 2px rgba(0, 0, 0, 0.4);
  text-align: center;
  transform: translateY(200px);
}

#loginForm {
  align-self: flex-end;
  display: grid;
  justify-items: center;
  align-items: center;
  padding-top: 15rem;
}

.loginForm-field::placeholder {
  color: #3a3a3a;
}

.loginForm-field {
  width: 10%;
  border: none;
  border-bottom: 1px solid #3a3a3a;
  margin-bottom: 10px;
  border-radius: 3px;
  outline: none;
  padding: 0px 0px 5px 5px;
}

#loginFormSubmit {
  width: 20%;
  margin-top: 30px;
  padding: 7px;
  border: none;
  border-radius: 5px;
  box-shadow: 1px 3px 6px rgba(0, 0, 0, 0.5);
  color: black;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 30px;
  font-variant: small-caps;
  font-weight: bold;
  background-color: rgba(42, 136, 56, 0.8);
  cursor: pointer;
  outline: none;
}

#loginFormSubmit:hover {
  cursor: pointer;
}

#loginFormSubmit:active {
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.9);
  transform: translateY(4px);
}

.hidden {
  display: none;
}

